In [2]:
# Importar la librería pandas con el alias 'pd'
import pandas as pd

# Importar la función 'drive' del módulo 'google.colab'
from google.colab import drive

# Montar el sistema de archivos de Google Drive en la ubicación '/content/gdrive'
drive.mount('/content/gdrive')  #, force_remount=True

# Definir la ruta del archivo CSV en Google Drive
filename = '/content/gdrive/MyDrive/Iris.csv'

# Leer el archivo CSV utilizando pandas y cargarlo en un DataFrame llamado 'df'
df = pd.read_csv(filename, delimiter=",")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
# Mostrar las primeras 2 filas del DataFrame
print(df.head(2))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [5]:
# Mostrar las últimas 2 filas del DataFrame
print(df.tail(2))

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
148  Iris-virginica
149  Iris-virginica

In [6]:
# Obtener el número de filas y columnas del DataFrame
num_rows, num_cols = df.shape
print("Número de filas:", num_rows)
print("Número de columnas:", num_cols)

Número de filas: 150
Número de columnas: 6

In [7]:
# Mostrar información sobre el DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
# Calcular estadísticas descriptivas para las columnas numéricas
print(df.describe().round(2))

           Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.00         150.00        150.00         150.00        150.00
mean    75.50           5.84          3.05           3.76          1.20
std     43.45           0.83          0.43           1.76          0.76
min      1.00           4.30          2.00           1.00          0.10
25%     38.25           5.10          2.80           1.60          0.30
50%     75.50           5.80          3.00           4.35          1.30
75%    112.75           6.40          3.30           5.10          1.80
max    150.00           7.90          4.40           6.90          2.50

In [10]:
# Obtener una lista de los nombres de las columnas
column_names = df.columns.tolist()
print("Nombres de columnas:", column_names)

Nombres de columnas: ['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [11]:
# Acceder a una celda específica por índices enteros
cell_value = df.iloc[1, 2]
print("Valor en fila 1, columna 2:", cell_value)

Valor en fila 1, columna 2: 3.0

In [12]:
# Acceder a una celda específica por etiquetas de fila y columna
cell_value_label = df.loc[0, 'Species']
print("Valor en fila 0, columna 'Species':", cell_value_label)

Valor en fila 0, columna 'Species': Iris-setosa

In [13]:
# Acceder a una columna específica
species_column = df['Species']
print("Columna 'Species':", species_column)

Columna 'Species': 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
# Eliminar una columna del DataFrame
df = df.drop(columns=['PetalWidthCm'])

In [17]:
print("DataFrame después de eliminar 'PetalWidthCm':\n", df)

DataFrame después de eliminar 'PetalWidthCm':
       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species
0      1            5.1           3.5            1.4     Iris-setosa
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

[150 rows x 5 columns]

In [20]:
# Agrupar por la columna 'PetalLengthCm' y calcular la frecuencia para cada grupo
PetalLengthCm_grouped = df.groupby('PetalLengthCm').agg({'PetalLengthCm': 'count'})
print("Frecuencia por grupo:\n", PetalLengthCm_grouped)

Frecuencia por grupo:
                PetalLengthCm
PetalLengthCm
1.0                        1
1.1                        1
1.2                        2
1.3                        7
1.4                       12
1.5                       14
1.6                        7
1.7                        4
1.9                        2
3.0                        1
3.3                        2
3.5                        2
3.6                        1
3.7                        1
3.8                        1
3.9                        3
4.0                        5
4.1                        3
4.2                        4
4.3                        2
4.4                        4
4.5                        8
4.6                        3
4.7                        5
4.8                        4
4.9                        5
5.0                        4
5.1                        8
5.2                        2
5.3                        2
5.4                        2
5.5                        3
5.6                        6
5.7                        3
5.8                        3
5.9                        2
6.0                        2
6.1                        3
6.3                        1
6.4                        1
6.6                        1
6.7                        2
6.9                        1

In [22]:
# Crear una nueva columna calculada
df['PetalLengthCm_doble'] = df['PetalLengthCm'] * 2
print("DataFrame con nueva columna 'PetalLengthCm_doble':\n\n", df)

DataFrame con nueva columna 'PetalLengthCm_doble':

       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species  \
0      1            5.1           3.5            1.4     Iris-setosa
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

     PetalLengthCm_doble
0                    2.8
1                    2.8
2                    2.6
3                    3.0
4                    2.8
..                   ...
145                 10.4
146                 10.0
147                 10.4
148                 10.8
149                 10.2

[150 rows x 6 columns]

In [23]:
# Ordenar el DataFrame por la columna 'SepalWidthCm' en orden ascendente
df_sorted = df.sort_values(by='SepalWidthCm')
print("DataFrame ordenado por 'SepalWidthCm':\n\n", df_sorted)

DataFrame ordenado por 'SepalWidthCm':

       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm          Species  \
60    61            5.0           2.0            3.5  Iris-versicolor
62    63            6.0           2.2            4.0  Iris-versicolor
119  120            6.0           2.2            5.0   Iris-virginica
68    69            6.2           2.2            4.5  Iris-versicolor
41    42            4.5           2.3            1.3      Iris-setosa
..   ...            ...           ...            ...              ...
16    17            5.4           3.9            1.3      Iris-setosa
14    15            5.8           4.0            1.2      Iris-setosa
32    33            5.2           4.1            1.5      Iris-setosa
33    34            5.5           4.2            1.4      Iris-setosa
15    16            5.7           4.4            1.5      Iris-setosa

     PetalLengthCm_doble
60                   7.0
62                   8.0
119                 10.0
68                   9.0
41                   2.6
..                   ...
16                   2.6
14                   2.4
32                   3.0
33                   2.8
15                   3.0

[150 rows x 6 columns]

In [24]:
# Modificar el valor en la celda de la fila
df.loc[df['Id'] == 1, 'Species'] = None

In [25]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,Species,PetalLengthCm_doble
0,1,5.1,3.5,1.4,None,2.8
1,2,4.9,3.0,1.4,Iris-setosa,2.8
2,3,4.7,3.2,1.3,Iris-setosa,2.6
3,4,4.6,3.1,1.5,Iris-setosa,3.0
4,5,5.0,3.6,1.4,Iris-setosa,2.8

In [26]:
# Crear una máscara booleana para identificar valores faltantes
missing_values = df.isna()
missing_values

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,Species,PetalLengthCm_doble
0,False,False,False,False,True,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
145,False,False,False,False,False,False
146,False,False,False,False,False,False
147,False,False,False,False,False,False
148,False,False,False,False,False,False
149,False,False,False,False,False,False

In [27]:
# Rellenar valores faltantes con el valor 0
df_filled = df.fillna(0)
print("DataFrame con valores faltantes rellenados:\n", df_filled)

DataFrame con valores faltantes rellenados:
       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species  \
0      1            5.1           3.5            1.4               0
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

     PetalLengthCm_doble
0                    2.8
1                    2.8
2                    2.6
3                    3.0
4                    2.8
..                   ...
145                 10.4
146                 10.0
147                 10.4
148                 10.8
149                 10.2

[150 rows x 6 columns]

In [28]:
df.loc[df['Id'] == 1, 'Species'] = None

In [29]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,Species,PetalLengthCm_doble
0,1,5.1,3.5,1.4,None,2.8
1,2,4.9,3.0,1.4,Iris-setosa,2.8
2,3,4.7,3.2,1.3,Iris-setosa,2.6
3,4,4.6,3.1,1.5,Iris-setosa,3.0
4,5,5.0,3.6,1.4,Iris-setosa,2.8

In [30]:
# Eliminar filas con valores faltantes
df_no_nulls = df.dropna()
print("DataFrame sin filas con valores faltantes:\n", df_no_nulls)

DataFrame sin filas con valores faltantes:
       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species  \
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
5      6            5.4           3.9            1.7     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

     PetalLengthCm_doble
1                    2.8
2                    2.6
3                    3.0
4                    2.8
5                    3.4
..                   ...
145                 10.4
146                 10.0
147                 10.4
148                 10.8
149                 10.2

[149 rows x 6 columns]